@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .bg-taskbar-gradient {
        background: rgb(34,93,218);
        background: linear-gradient(0deg, rgba(34,93,218,1) 73%, rgba(63,138,229,1) 91%);
    }

    .bg-taskbar-setting-gradient {
        background: rgb(19,144,233);
        background: linear-gradient(0deg, rgba(19,144,233,1) 73%, rgba(25,180,241,1) 91%);
    }

    .xp-text-shadow {
        text-shadow: black 0 1px 1px;
    }
}
